$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';


.container {
    display: block;
    position: relative;
    margin-left: 450px;
    height: 800px;
    width: 1140px;

    img {
    width: 500px;
    height: 500px;
    position: absolute;
    }
}

